.language-list {
  list-style: none;
  padding: 0;
}

.language-item {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
  border-radius: 5px;
}

.language-item:hover {
  background-color: gray;
  color: white;
}

.lessons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 10px;
  cursor: pointer;
}

.lesson.completed {
  background-color: green;
  color: white;
}

.sidebar {
  background-color: #f8f9fa;
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-container {
  padding: 20px;
}

.logo {
  width: 150px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.menu li {
  padding: 10px 20px;
  font-weight: bold;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li a:hover {
  color: #007bff;
}

