.language-list {
  list-style: none;
  padding: 0;
}

.language-item {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
  border-radius: 5px;
}

.language-item:hover {
  background-color: gray;
  color: white;
}

.lessons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
  margin: 10px;
  cursor: pointer;
}

.lesson.completed {
  background-color: green;
  color: white;
}
